#!/bin/sh

NAME="kconfig"
DESC="Configuration system"

MAKEDEPS="doxygen extra-cmake-modules graphviz qt5-qtdeclarative qt5-qttools ninja"

PKG_VER=5.98.0
SOURCE="https://download.kde.org/stable/frameworks/${PKG_VER%.*}/kconfig-$PKG_VER.tar.xz"

build() {
	cmake -B build -G Ninja \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_INSTALL_LIBDIR=lib \
		-DBUILD_QCH=ON
	cmake --build build
}

package() {
    cd $BUILD_ROOT
	DESTDIR="$PKG_DEST" cmake --install build
}

